nav{
    background-color:rebeccapurple;
    padding-left:50px;
    padding-right:50px;
}
.sidebar{
    
    height:100vh;
    
}
.contentbody{
    height:100vh;
}

.header {
    text-align: center;

}
<<<<<<< HEAD
.colormefooter{
    background-color: rebeccapurple;
}

#monster {
  position: absolute;
  left: 0px;
  top: 100px;
  z-index: -1;
  width: auto;
  height: 30em;
  
=======

p {
    text-align: center;
>>>>>>> 76d47e6daaffbfbfff57e6d49dbee804c1aa58e8
}