nav{
    background-color:rebeccapurple;
    padding-left:50px;
    padding-right:50px;
}
.sidebar{
    
    height:100vh;
    
}
.contentbody{
    height:100vh;
}

.header {
    text-align: center;

}

.colormefooter{
    background-color: rebeccapurple;
}
.symptom{
    list-style-type: initial;
}
#monster {
  position: absolute;
  left: 0px;
  top: 100px;
  z-index: -1;
  width: auto;
  height: 30em;
}

p {
    text-align: center;
}

.newgif {
    float: left;
    display: inline-block;
    margin: 10px;
}