@font-face {
    font-family: chuck;
    src: url(../fonts/bohemian-typewriter/Bohemian\ Typewriter.ttf)
}
nav{
    background-color:rebeccapurple;
    padding-left:50px;
    padding-right:50px;
}
.sidebar{
    
    height:100vh;
    
}
.contentbody{
    height:100vh;
}

.header {
    text-align: center;

}

.colormefooter{
    background-color: rebeccapurple;
}

.symptom {
    list-style-type: space-counter;
    font-weight: bold;
    color: #b71c1c;
    text-align: center;
}

#monster {
  position: absolute;
  left: 0px;
  top: 100px;
  z-index: -1;
  width: auto;
  height: 30em;
}

p {
    text-align: center;
}

#stayingsane {
    background-color: #f8f8f8;
}

.newgif {
    float: left;
    margin: 5px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    margin-top: 10px;
    flex: 1 0 auto;
  }

  #chuckjoke {
    font-family: chuck;  
    border: solid 1px #b71c1c;
    padding: 0, 10px;
  }

#addgif {
    color: white;
} 